<h1>Flinks</h1>
<p><!-- Flinks Connect -->
<iframe height="760" scrolling="no"
	src="https://toolbox-iframe.private.fin.ag/?demo=true&redirectUrl=https://flinks.io/contact/thank-you&innerRedirect=true&theme=light&consentEnable=true&customerName=FinTech&backgroundColor=f7f7f7&foregroundColor1=000000&desktopLayout=true&headerEnable=false&institutionFilterEnable=true">
</iframe></p>
